.pan p {
  color: #292b2e;
  line-height: 32px;
  margin-top: 2em;
  font-size: 21px;
  letter-spacing: -0.003em;
  margin-bottom: -0.46em;
}

.pan a {
  color: green;
}

.pan div p {
  display: flex;
  flex-direction: column;
}

.pan div p em {
  font-size: 16px;
  color: #767676;
  border-bottom: 1px solid #d1d1d1;
}
